<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3">
        Edit Profile
      </h1>
		<% include ./partials/messages %>
      <form method="POST" enctype="multipart/form-data">
        <div class="form-group">
          <label for="name">First Name</label>
          <input
            type="text"
            id="first_name"
            name="first_name"
            class="form-control"
            placeholder="Enter First Name"
            value="<%=user.first_name %>" 
			required="required"
          />
        </div>
		<div class="form-group">
			<label for="name">Last Name</label>
			<input
			type="text"
			id="last_name"
			name="last_name"
			class="form-control"
			placeholder="Enter Last Name"
			value="<%=user.last_name %>"
        />
		</div>
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="text"
            id="email"
            name="email"
            class="form-control"
            placeholder="Enter Email"
            value="<%=user.email %>"
          />
        </div>
        <% if (user.userimage) { %>
            <img src="/static/uploads/<%=user.userimage %>" alt="image" style="width:100px; height:100px">
        <%} else { %>
            <img src="/static/images/no_person.jpg" alt="<%=user.first_name %>" style="width:100%">
        <% } %>
		<div class="form-group">
			<label for="userimage">Profile Image</label>
			<input
			type="file"
			id="userimage"
			name="userimage"
			class="form-control"
			placeholder=""
			value=""
          />
		</div>
        <button type="submit" class="btn btn-primary btn-block">
          Submit
        </button>
      </form>
    </div>
  </div>
</div>